@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,800&family=Poppins:wght@300&display=swap');

/*====================
     Common Styles
====================== */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ====================
    Header Styles
======================= */
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 70px;
}
.banner{
    max-width: 1600px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner-left{
    top: 50px;
    position: relative;
}
.banner-left h1{
    font-weight: 700;
    font-size: 53px;
}
.banner-left p{
    font-size: 20px;
    font-weight: 600;
}
button{
    background-color: #E02C6D;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 15 25;
    border-radius: 30px;
}
.banner-right{
    text-align: center;
}
.banner-right img{
    position: relative;
    top: 50px;
    width: 80%;
    height: 80%;
}

/*=====================
 Company logos styles
======================= */
.company-logos{
    margin: 0 70px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
    max-width: 1600px;
}

/*======================
     section Styles
======================== */
.popular-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products{
    width: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product{ 
    margin: 15 0;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid;
    box-shadow: 0 5px 20px;
    width: 329px;
    height: 476px;
}
.product img{
    width: 97%;
    padding: 4px;
}
.product-details{
    text-align: left;
    margin-left: 5px;
}
.product-details div,
.rating, h3{
    line-height: 8px;
}
.rating .filled{
    color: #FB8200;
}
.rating{
    font-size: 14px;
}
.rating span{
    font-size: 16px;
    font-weight: 700;
}
/* ================
    Footer style 
=================== */
footer{
    text-align: center;
    background-color: #0A0826;
    color: white;
    margin-top: 50px;
}
footer > div{
    padding: 20px;
    line-height: 15px;
}
.social-media{
   margin: 30px 10px 30px 10px;
}
.social-media span{
    margin: 0 5px;
    padding: 5px 10px;
    color: #fff;
    background-color: #141135;
    border-radius: 50%;
}
